.navbar {
      margin-bottom: 0;
      padding-top:20px;
      border-radius: 0;
      color:#212121 !important;
      background-color:#000000;
    }
.navbar-brand{
	color: #ec407a;
	font-size:30px !important;
}

.jumbotron{
  padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
    height: 300px;
    overflow: hidden;
    position: relative;
    z-index: -100;
}

 #video-background { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.reala {
    position: relative;
    color: #ec407a;
    padding-top:40px;
    bottom:0px;
}

.navbar-nav a{
	color:#ec407a !important;
	font-size:20px !important;
}
.red{
  color:#e0887d;
}
.fatface {
	font-family: "Lalezar";
  color: #f06292;
} 

.bodyText{
  font-size:30px;
  font-family: "Raleway";
  color:white;
}

.captionText{
  font-size:20px;
  font-family: "Raleway";
  color: white;
}

.contained {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  background-color: #ec407a;
}

.image{
  display: block;
  width: 90% !important;
  height: 350px !important;
  margin: 10px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  vertical-align: middle !important;
}

.headerImage{
  width: 100%;
  height: 100% !important;
  margin: 50px ;

}

.image:hover{
  transform: scale(1.1, 1.1) !important;
  opacity: .8;
}

.contained:hover .overlay {
  opacity: 1;
  transform: scale(1.1, 1.1);
}

.text {
  color: white;
  font-size: 50px;
  font-family: "Lalezar";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.titleText{
    top: 50%;
    left: 50%;
}

.sidetext{
  color: white;
  font-size: 25px;
 }

.textmargin{
 padding: 10% 0;
}

.center {
  display: block;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 100px;
  width: 50%;
}

.sideCenter{
display: block;
 margin-left: 20%;
margin-top: 100px;
}

.copywrite{
  color:white !important;
}

/* Twitter */
.fa-github {
  background: #ec407a;
  color: white;
}

.fa-linkedin {
  background: #ec407a;
  color: white;
}

.fa{
  padding: 20px;
  font-size: 20px !important;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.Padding{
 margin-left: 2%;
 margin-right: 2%;
 margin-bottom: 0px;
 padding: %5;
}
.pinkColorBold{
  color:#f06292;
  font-weight: bold;
  font-size: 25px;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:75%;
    position:relative;
    height:0;
  }

  .video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

.pinkColor{
  color:#f06292;
}

form{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
embed{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
body {
  background-image: url("Images/website_background.png"); 
}

footer {
      background-color: #000000;
      padding: 25px;
    }
a {
  color:#f06292 !important;
}
p{
  font-family: "Verdana";
 /* font-size: 20px; */
}


/* Red Background #e0887d